<link rel="shortcut icon" href="https://marksilver.gitlab.io/logo.jpg">
<link rel="stylesheet" type="text/css" href="main.css">
<title>Blue Masquerade (Demos)</title>

    <meta name="title" content="Blue Masquerade (Demos)">
        <meta property="og:title" content="Blue Masquerade (Demos)">
        <meta property="og:type" content="album">
        <meta property="og:site_name" content="Sponsored By Mark!">
        <meta property="og:description" content="9 track album">

<script src="jquery.min.js"></script>
<script src="playlist.js"></script>

<h1>Blue Masquerade (Demos)</h1>

<a href="https://marksilver.gitlab.io">(Return to Index)</a><br><br>

<p><i>Released on 20th March 2018</i></p>

<p>With each album in the "Mark! Silver" lineage, my writing process shifts into a new phase, as far as my mind is concerned. The phase for the writing potential tracks for the eponymous album began precisely two years before I released it, and ended with the writing of "Tough Luck". Around the end of this previous writing phase began the writing phase for the project which I would eventually dub "Blue Masquerade".<br><br>"Notebook Songs" and "Searching For A Soul" are the codenames for the two sub-phases that went into this process for what will be the Blue Masquerade album. Notebook Songs are fairly self explanitory, whilst the Soul demos were acoustic recordings meant to manifest into an album of that name. A lot of material from both of these phases was ultimately left unfinished or deemed not suitable for the tracklist, and I am confident now that the current selection is the best bet for this particular album, thus bringing the overarching writing phase to a close. (The work-in-progress song "Teenage Antics" technically began the writing phase for the album after Blue Masquerade, so the present selection needed a resolution)<br><br>The final tracklist for Blue Masquerade consists of 4 notebook songs, 4 soul demos, &amp; two tracks born when I participated in FAWM 2018. Below this text, you can here demos for each of the tracks in this album. A version of all of these songs exists publicly on the internet already, so I figured that I might as well compile them to boost your anticipation.<br><br>Much of the material generated during the writing phase for this album which wasn't used will be making its way into my performance repertoire for open-mics &amp; nerd-centrals; there's a lot of good stuff from this process that I'd still like to share with the world in some way, even though said material didn't feel apt for the album. The next step for me now however is to write arrangements out for each of the 10 songs on this album, because I have big plans for the recording process. Stay tuned, friends. ;)</p><hr>

<h2>Listen</h2>

Click on a track's title to play it, &amp; the website will stream the playlist from there!<br>
Alternatively, you can stream this album in your own media player with its <a href="bmdemos.m3u">M3U File</a>.<br><br>

<audio id="audio" preload="auto" tabindex="0" controls="" src="NostalgiaNight.ogg">

	You don't have Javascript enabled, but you can click a track's title to download it. :)

</audio>

<ul id="playlist">

	<li class="active">
	
		<a href="NostalgiaNight.ogg">
			Nostalgia Night
		</a>
	
	</li>

	<li>
	
		<a href="LivingByTheShore.ogg">
			Living By The Shore
		</a>
		
		 (co-written by Josh Price)
	
	</li>
	
	<li>
	
		<a href="BlueMasquerade_and_Ambition.ogg">
			Blue Masquerade / Ambition
		</a>
	
	</li>
	
	<li>
	
		<a href="FloatingAway.ogg">
			Floating Away
		</a>
	
	</li>
	
	<li>
	
		<a href="PragmaticJellyfish.ogg">
			Pragmatic Jellyfish
		</a>
	
	</li>
	
	<li>
	
		<a href="TVNever.ogg">
			And The TV Never Turned Off Again
		</a>
	
	</li>
	
	<li>
	
		<a href="LiveUnderARock.ogg">
			Live Under A Rock
		</a>
	
	</li>
	
	<li>
	
		<a href="EveningEcho.ogg">
			Evening Echo
		</a>

		(lyrics by Doug Haberman)
	
	</li>
	
	<li>
	
		<a href="OnlyBegunToStart.ogg">
			Only Begun To Start
		</a>
	
	</li>

</ul>

<hr>

<h2>Download Album</h2>

<a href="https://gitlab.com/marksilver/bmdemos/">clone/download the repo</a>.
